@media only screen and  (max-width: ) {

}
@media only screen and  (max-width: 540px) {
  .articles .col-xs-12 {
    width: 100%;
  }
  .article-content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
@media only screen and  (max-width: 360px) {
  .article-content {
    width: 100%;
  }
}
@media only screen and  (max-width: 320px) {

}
