@media only screen and  (max-width: 1200px) {
    .articles .col-md-3 {
      width: 50%;
    }
    .article-content {
      display: block;
    }
}
@media only screen and  (max-width: 767px) {
  .navbar-sticky {
    background-color: transparent;
  }
  .navbar-toggle {
    margin-top: 20px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    font-size: 20px;
    background-color: #000000;
    height: 3px;
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar #bs-example-navbar-collapse-1 {
    border: none;
    width: 200px;
    overflow-x: hidden:
    padding: 0;
    background-color: #FFFFFF;
    margin-right: -15px;
    margin-left: auto;
  }
  .navbar #bs-example-navbar-collapse-1 .navbar-nav {
    width: 200px;
    margin-right: 0;
    overflow-x: hidden:
  }
}
